path {
  stroke: black;
  stroke-width: 5px
}
.WhiteButton {
    fill: white;
    transition-duration: 0.4s;
    cursor: pointer;
  }


.RedBorder,.RedButton {
  fill: #BE0E1A;
}
.RedButton:hover {
  fill: #5F070D;
}
.WhiteButton:hover {
  fill: #F2545F;
}

.BlueBorder,.BlueButton {
  fill: #1E6685; 
}
.BlueButton:hover {
  fill: #0F3343;
}
.odd .WhiteButton:hover {
  fill: #48ABD5;
}